<div class="qMusicBox">
	<div class="qItem" data-init="http://link.hhtjim.com/163/5260494.mp3">
		<a href="" class="qThumb">
		<img src="images/2.jpg"/>
		<i class="qIcon"></i>
		</a>
		<a href="" class="qName">一直很安静,电视剧《仙剑奇侠传》插曲</a>
		<div class="qChannel"><span class="qGreen">《仙剑奇侠传》电视剧</span>频道</div>
	</div>
	<div class="qItem" data-init="http://link.hhtjim.com/163/5260505.mp3">
		<a href="" class="qThumb">
		<img src="images/3.jpg"/>
		<i class="qIcon"></i>
		</a>
		<a href="" class="qName">终于明白,电视剧《仙剑奇侠传》插曲</a>
		<div class="qChannel"><span class="qGreen">《仙剑奇侠传》电视剧</span>频道</div>
	</div>
</div>